AZURE_OPENAI_ENDPOINT=https://your-resource.cognitiveservices.azure.com/
AZURE_OPENAI_API_KEY=YOUR_KEY_HERE
AZURE_OPENAI_DEPLOYMENT=your-deployment-name
AZURE_OPENAI_API_VERSION=2024-08-01-preview
LANGCHAIN_API_KEY=YOUR_KEY_HERE
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=recall-crewasis-hackathon
CLIENT_ID=haleon
SLACK_BOT_TOKEN=YOUR_TOKEN_HERE
SLACK_CHANNEL_ID=YOUR_CHANNEL_ID_HERE
SLACK_SIGNING_SECRET=YOUR_SIGNING_SECRET_HERE
